<header>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <a href="{{site.baseurl}}/">
    <h1>
      {{site.title}}
    </h1>
  </a>
  <div class="dmode">
    <img src="{{site.baseurl}}/assets/icons/sun.svg" alt="" />
  </div>
  <section>
    <img src="{{site.author.image}}" alt="{{site.author.name}}" />
    <p style="-moz-user-select: none; user-select: none;">
      {{site.author.bio}}
    </p>
    <br/>
    <br/>
<div class="dmode">
  
    <a href="https://github.com/ellendmk/" style="text-decoration:none"><i class="fa fa-lg fa-github" style="text-decoration:none; font-size:48px;color:black;"></i></a>
    
    <br/>
    
    <a href="https://www.linkedin.com/in/ellen-de-mello-koch/" style="text-decoration:none"><i class="fa fa-lg fa-linkedin" style="text-decoration:none;font-size:48px;color:black;"></i></a>
  </div>
  </section>
</header>
